transform(args)
  -webkit-transform args
  -moz-transform args
  -ms-transform args
  transform args

perspective(args)
  -webkit-perspective args
  -moz-perspective args
  -ms-perspective args
  perspective args

transform-style(args)
  -webkit-transform-style args
  -moz-transform-style args
  -ms-transform-style args
  transform-style args

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  -ms-border-radius arguments
  border-radius arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments
